<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Bench4Q</display-name>
	<description>Bench4Q</description>
	<servlet>
		<servlet-name>home_servlet</servlet-name>
		<servlet-class>
			org.bench4Q.servlet.home_servlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>shopping_cart_servlet</servlet-name>
		<servlet-class>
			org.bench4Q.servlet.shopping_cart_servlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>order_inquiry_servlet</servlet-name>
		<servlet-class>
			org.bench4Q.servlet.order_inquiry_servlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>order_display_servlet</servlet-name>
		<servlet-class>
			org.bench4Q.servlet.order_display_servlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>search_request_servlet</servlet-name>
		<servlet-class>
			org.bench4Q.servlet.search_request_servlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>execute_search_servlet</servlet-name>
		<servlet-class>
			org.bench4Q.servlet.execute_search_servlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>new_products_servlet</servlet-name>
		<servlet-class>
			org.bench4Q.servlet.new_products_servlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>best_sellers_servlet</servlet-name>
		<servlet-class>
			org.bench4Q.servlet.best_sellers_servlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>product_detail_servlet</servlet-name>
		<servlet-class>
			org.bench4Q.servlet.product_detail_servlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>customer_registration_servlet</servlet-name>
		<servlet-class>
			org.bench4Q.servlet.customer_registration_servlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>buy_request_servlet</servlet-name>
		<servlet-class>
			org.bench4Q.servlet.buy_request_servlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>buy_confirm_servlet</servlet-name>
		<servlet-class>
			org.bench4Q.servlet.buy_confirm_servlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>admin_request_servlet</servlet-name>
		<servlet-class>
			org.bench4Q.servlet.admin_request_servlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>admin_response_servlet</servlet-name>
		<servlet-class>
			org.bench4Q.servlet.admin_response_servlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>home_servlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>shopping_cart_servlet</servlet-name>
		<url-pattern>/shopping_cart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>order_inquiry_servlet</servlet-name>
		<url-pattern>/order_inquiry</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>order_display_servlet</servlet-name>
		<url-pattern>/order_display</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>search_request_servlet</servlet-name>
		<url-pattern>/search_request</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>execute_search_servlet</servlet-name>
		<url-pattern>/execute_search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>new_products_servlet</servlet-name>
		<url-pattern>/new_products</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>best_sellers_servlet</servlet-name>
		<url-pattern>/best_sellers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>product_detail_servlet</servlet-name>
		<url-pattern>/product_detail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>customer_registration_servlet</servlet-name>
		<url-pattern>/customer_registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>buy_request_servlet</servlet-name>
		<url-pattern>/buy_request</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>buy_confirm_servlet</servlet-name>
		<url-pattern>/buy_confirm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>admin_request_servlet</servlet-name>
		<url-pattern>/admin_request</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>admin_response_servlet</servlet-name>
		<url-pattern>/admin_response</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
