<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="scriptbq.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="scriptbq.Perspective"
            id="ScriptBQ.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="scriptbq.tree.BqTreeView"
            icon="icons/alt_window_16.gif"
            id="scriptbq.Tree.BqTreeView"
            name="TestTree"
            restorable="true">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ScriptBQ.application"
            name="ScriptBQ">
         <property
               name="appName"
               value="ScriptBQ">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="icons/bench4q(32).gif,icons/bench4q(48).gif,icons/bench4q(64).gif,icons/bench4q.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="scriptbq.console.BqConsole"
            label="BqConsole">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="scriptbq.monitor.BqMonitorView"
            icon="icons/alt_window_16.gif"
            id="scriptbq.monitor.BqMonitorView"
            name="Monitor"
            restorable="true">
      </view>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="ScriptBQ.application"
            name="ScriptBQ">
         <property
               name="appName"
               value="ScriptBQ">
         </property>
      </product>
   </extension>

</plugin>
